<div class="ft-toast ft-toast-{{ config.type }}" [class.ft-toast-closing]="isClosing">
  <span class="material-icons">{{ getIcon() }}</span>

  <div class="ft-toast-content">
    <div class="ft-toast-title" *ngIf="config.title">{{ config.title }}</div>
    <div class="ft-toast-text">{{ config.message }}</div>

    <div class="ft-toast-actions" *ngIf="config.buttons.length > 0">
      <button *ngFor="let button of config.buttons" [class]="button.class || 'ft-btn ft-btn-sm'"
        (click)="onButtonClick(button)">
        {{ button.text }}
      </button>
    </div>
  </div>


  <button *ngIf="config.closeable" class="ft-toast-close" (click)="closeToast()" aria-label="Close">
    <span class="material-icons">close</span>
  </button>
</div>