.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

// 置中對齊
.d-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// 左右分配，左側自動填滿
.d-space-between {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.5rem;
}

.gap-3 {
  gap: 2rem;
}
