@import 'variables';

.code-block {
  background-color: $color-gray-100;
  border: 1px solid $color-gray-300;
  border-radius: $border-radius-sm;
  padding: 1rem;
  overflow-x: auto;
  font-size: $font-size-sm;
  
  code {
    font-family: 'Courier New', monospace;
    color: $color-gray-800;
  }
}
