<nav class="main-nav">
  <div class="ft-container d-space-between">
    <a routerLink="/" class="nav-brand">🪶 Feather Theme</a>
    <div class="button-group">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        class="ft-btn btn-glass nav-link">Home</a>
      <a routerLink="/buttons" routerLinkActive="active" class="ft-btn btn-glass nav-link">Buttons</a>
      <a routerLink="/display" routerLinkActive="active" class="ft-btn btn-glass nav-link">Display</a>
      <a routerLink="/layout" routerLinkActive="active" class="ft-btn btn-glass nav-link">Layout</a>
      <a routerLink="/liquid-glass" routerLinkActive="active" class="ft-btn btn-glass nav-link">Liquid Glass</a>
      <a routerLink="/spacing" routerLinkActive="active" class="ft-btn btn-glass nav-link">Spacing</a>
      <a routerLink="/tags" routerLinkActive="active" class="ft-btn btn-glass nav-link">Tags</a>
      <a routerLink="/typography" routerLinkActive="active" class="ft-btn btn-glass nav-link">Typography</a>
    </div>
  </div>
</nav>